<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo reference="base_link">
        <material>Gazebo/Red</material>
    </gazebo>
 

    <!-- Gazebo plugin for ROS Control -->
    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotNamespace>/</robotNamespace>
        </plugin>
    </gazebo>

    <xacro:macro name="wheel_trans" params="name">

        <transmission name="wheel_${name}_trans">
            <type>transmission_interface/SimpleTransmission</type>
            <actuator name="wheel_${name}_motor">
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
            <joint name="wheel_${name}_joint">
                <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
            </joint>
        </transmission>

        <gazebo reference="wheel_${name}_link">
            <mu1 value="200.0"/>
            <mu2 value="100.0"/>
            <kp value="10000000.0" />
            <kd value="1.0" />
            <material>Gazebo/DarkGrey</material>
        </gazebo>

    </xacro:macro>

    <xacro:wheel_trans name ="rear_right"/>
    <xacro:wheel_trans name ="rear_left"/>
    <xacro:wheel_trans name ="front_right"/>
    <xacro:wheel_trans name ="front_left"/>


    <!-- Realsense D435i -->
    <gazebo reference="camera_color_frame">
    <sensor name="color" type="camera">
        <pose frame="">0 0 0 0 0 0</pose>
        <camera name="__default__">
        <horizontal_fov>1.5009831567151233</horizontal_fov>
        <image>
            <width>640</width>
            <height>480</height>
            <format>RGB_INT8</format>
        </image>
        <clip>
            <near>0.1</near>
            <far>100</far>
        </clip>
        <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.007</stddev>
        </noise>
        </camera>
        <always_on>1</always_on>
        <update_rate>30</update_rate>
        <visualize>0</visualize>
    </sensor>
    </gazebo>
    <gazebo reference="camera_infra1_frame">
    <sensor name="ired1" type="camera">
        <pose frame="">0 0 0 0 0 0</pose>
        <camera name="__default__">
        <horizontal_fov>1.5009831567151233</horizontal_fov>
        <image>
            <width>640</width>
            <height>480</height>
            <format>L_INT8</format>
        </image>
        <clip>
            <near>0.1</near>
            <far>100</far>
        </clip>
        <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.007</stddev>
        </noise>
        </camera>
        <always_on>1</always_on>
        <update_rate>30</update_rate>
        <visualize>0</visualize>
    </sensor>
    </gazebo>
    <gazebo reference="camera_infra2_frame">
    <sensor name="ired2" type="camera">
        <pose frame="">0 0 0 0 0 0</pose>
        <camera name="__default__">
        <horizontal_fov>1.5009831567151233</horizontal_fov>
        <image>
            <width>640</width>
            <height>480</height>
            <format>L_INT8</format>
        </image>
        <clip>
            <near>0.1</near>
            <far>100</far>
        </clip>
        <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.007</stddev>
        </noise>
        </camera>
        <always_on>1</always_on>
        <update_rate>30</update_rate>
        <visualize>0</visualize>
    </sensor>
    </gazebo>
    <gazebo reference="camera_depth_frame">
    <sensor name="depth" type="depth">
        <pose frame="">0 0 0 0 0 0</pose>
        <camera name="__default__">
        <horizontal_fov>1.5009831567151233</horizontal_fov>
        <image>
            <width>640</width>
            <height>480</height>
        </image>
        <clip>
            <near>0.1</near>
            <far>100</far>
        </clip>
        <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.007</stddev>
        </noise>
        </camera>
        <always_on>1</always_on>
        <update_rate>30</update_rate>
        <visualize>0</visualize>
    </sensor>
    </gazebo>
    <gazebo>
        <plugin name="camera" filename="librealsense_gazebo_plugin.so">
        <depthUpdateRate>30</depthUpdateRate>
        <colorUpdateRate>30</colorUpdateRate>
        <infraredUpdateRate>30</infraredUpdateRate>
        <depthTopicName>depth/image_raw</depthTopicName>
        <depthCameraInfoTopicName>depth/camera_info</depthCameraInfoTopicName>
        <colorTopicName>color/image_raw</colorTopicName>
        <colorCameraInfoTopicName>color/camera_info</colorCameraInfoTopicName>
        <infrared1TopicName>infrared/image_raw</infrared1TopicName>
        <infrared1CameraInfoTopicName>infrared/camera_info</infrared1CameraInfoTopicName>
        <infrared2TopicName>infrared2/image_raw</infrared2TopicName>
        <infrared2CameraInfoTopicName>infrared2/camera_info</infrared2CameraInfoTopicName>
        <colorOpticalframeName>camera_color_optical_frame</colorOpticalframeName>
        <depthOpticalframeName>camera_depth_optical_frame</depthOpticalframeName>
        <infrared1OpticalframeName>camera_left_ir_optical_frame</infrared1OpticalframeName>
        <infrared2OpticalframeName>camera_right_ir_optical_frame</infrared2OpticalframeName>
        <rangeMinDepth>0.1</rangeMinDepth>
        <rangeMaxDepth>10</rangeMaxDepth>
        <pointCloud>1</pointCloud>
        <pointCloudTopicName>depth/color/points</pointCloudTopicName>
        <pointCloudCutoff>0.15</pointCloudCutoff>
        <pointCloudCutoffMax>10</pointCloudCutoffMax>
        </plugin>
    </gazebo>

    <gazebo reference="camera_gyro_frame">
    <gravity>true</gravity>
    <sensor name="imu_sensor" type="imu">
        <always_on>true</always_on>
        <visualize>false</visualize>
        <plugin name="imu_plugin" filename="libgazebo_ros_imu_sensor.so">
        <topicName>camera/imu/data</topicName>
        <bodyName>camera_gyro_frame</bodyName>
        <updateRateHZ>50.0</updateRateHZ>
        <gaussianNoise>0.001</gaussianNoise>
        <xyzOffset>0 0 0</xyzOffset>
        <rpyOffset>0 0 0</rpyOffset>
        <frameName>camera_gyro_frame</frameName>
        <initialOrientationAsReference>false</initialOrientationAsReference>
        </plugin>
        <pose>0 0 0 0 0 0</pose>
    </sensor>
    </gazebo>

</robot>