<launch>

  <param name="robot_description" command="xacro '$(find testbot_description)/urdf/my_robot.urdf.xacro'"/>
  <arg name="rviz_config_file" default="$(find testbot_description)/config/robot.rviz"/>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/>
  <node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" name="joint_state_publisher_gui"/>

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_config_file)" />
</launch>
